@page
@model Website.Pages.MenuModel
@{DinoDiner.Menu.Menu menu = new DinoDiner.Menu.Menu();}

<h1>Menu</h1>
<div style="clear: both">
    <div>
        <h2>Combos </h2>
        @foreach (DinoDiner.Menu.IOrderItem i in menu.AvailableCombos)
        {
            <h3 class="tab">@i.ToString()<br /></h3>
            <div class="twotab">
                <p>Price: $@i.Price.ToString("0.00")</p>
                <p>Calories: @i.Calories<p>
                <p>Ingredients<p>
                    <div class="threetab">
                        @foreach (string s in i.Ingredients)
                        {
                    <p>@s</p>
                }
                    </div>

                </div>
            }
    </div>
    <div>
        <h2>Entrees</h2>
        @foreach (DinoDiner.Menu.IOrderItem i in menu.AvailableEntrees)
        {
            <h3>@i.ToString()<br /></h3>
            <div class="twotab">
                <p>Price: $@i.Price.ToString("0.00")</p>
                <p>Calories: @i.Calories<p>
                <p>Ingredients<p>
                    <div class="threetab">
                        @foreach (string s in i.Ingredients)
                        {
                    <p>@s</p>
                }
                    </div>

                </div>
            }
        </div>
        <div>
            <h2>Sides</h2>
            @foreach (DinoDiner.Menu.IOrderItem i in menu.AvailableSides)
            {
                @foreach (DinoDiner.Menu.Size e in Enum.GetValues(typeof(DinoDiner.Menu.Size)))
                {
                    @if (i is DinoDiner.Menu.Sides n)
                    {
                        n.Size = e;
                    }
                    <h3>@i.ToString()<br /></h3>
                    <div class="twotab">
                        <p>Price: $@i.Price.ToString("0.00")</p>
                        <p>Calories: @i.Calories<p>
                        <p>Ingredients<p>
                            <div class="threetab">
                                @foreach (string s in i.Ingredients)
                                {
                            <p>@s</p>
                        }
                            </div>

                        </div>
                    }
            }

            </div>
            <div>
                <h2>Drinks</h2>
                @foreach (DinoDiner.Menu.IOrderItem i in menu.AvailableDrinks)
                {
                    @foreach (DinoDiner.Menu.Size e in Enum.GetValues(typeof(DinoDiner.Menu.Size)))
                    {
                        @if (i is DinoDiner.Menu.Drink n)
                        {
                            n.Size = @e;
                        }
                        <h3>@i.ToString()<br /></h3>
                        <div class="twotab">
                            <p>Price: $@i.Price.ToString("0.00")</p>
                            <p>Calories: @i.Calories<p>
                            <p>Ingredients<p>
                                <div class="threetab">
                                    @foreach (string s in i.Ingredients)
                                    {
                                <p>@s</p>
                            }
                                </div>

                            </div>
                        }
                }
                </div>
                </div>

